{{#partial "content"}}
    <h2>Contacts:</h2>
    {{#if entries}}
        <ul>
            {{#each entries}}
            <li>{{name}}</li>
            <a href="/entries/{{id}}">Details</a>
            <a href="/entries/{{id}}/delete">Delete</a>
            {{/each}}
        </ul>
    {{else}}
        <h4>There are no contacts yet</h4>
    {{/if}}
<a href="/entries/add">Add contact</a>

{{/partial}}

{{> layout.hbs}}